@use '../partials' as * ;

.feature__subtitle{
    color: $lightred;

    @include breakpoint (tablet){
        font-size: 1rem;               
    }

}

.feature__title{
    span{
        color: $lightred;
    }
}

.feature__text{
    color: #777;

    @include breakpoint (tablet){
        font-size: 0.8rem;            
        margin-bottom: 0;
    }

}

.feature__item{

    h5{

        @include breakpoint (tablet){
            font-size: 0.9rem;            
        }
    }

    p{
        color: #777;

        @include breakpoint (tablet){
            font-size: 0.8rem;            
            margin-bottom: 0;
        }


    }
}

.food__category{
    background: $lightred;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 8px;
    // row-gap: ;

    @include breakpoint(small){
        // font-size: 0.7rem;                
        // overflow-x: scroll;

    }


    @include breakpoint(tablet){
        padding: 15px;                
        // overflow-x: scroll ;
        // row-gap: 0px;

    }





    button{
        outline: none;
        border: none;
        padding: 7px 20px;
        background: transparent;
        // border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;

        @include breakpoint (tablet){
            padding: 5px 15px;            
            font-size: 0.7rem;
        }


        

        img{
            width: 30px;

            @include breakpoint(small){
                // font-size: 0.7rem;                
                width: 20px;                
            }
        
        }

    }


}

.foodBtnActive{
    background: #fff !important;
    color: $lightred !important;
    border-radius: 5px;
    
}

.why__tasty-treat{
    .tasty__treat-title{

        span{
            color: $lightred;
        }
    }
    &>p{
        color: #777;
        line-height: 28px;

        @include breakpoint(tablet){
            font-size: 0.8rem;
            margin-bottom: 0;
        }
    
    }

}


.choose__us-title{
    font-weight: 600;
    color: #777;
    margin-bottom: 10px;

    @include breakpoint(tablet){
        font-size: 0.8rem ;
        // color: red !important;
    }


    i{
        color: $lightred;
        font-weight: 500;
    }
}

.choose__us-desc{
    color: #777;

    @include breakpoint(tablet){
        font-size: 0.7rem;
    } 

}


.testimonial__content{
    p{
        color: #777;
        line-height: 30px;
    }

    h2{
        color: $darkblue;
        font-size: 2.3rem;
        margin-bottom: 30px;

        span{
            color: $lightred;
        }
    }
    .testimonial__header{
        color: $lightred;
        margin-bottom: 30px;
}
}

.why__chose-us{

    @include breakpoint(small){
        padding-top: 0 ;
    }

}