@use '../partials/' as *;

.cart__container{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #00000044;
    height: 100%;
    z-index: 99999999;
    // text-align: right;
    display: grid;
    place-items: end;


    .cart{

        background: #fff;
        padding: 10px;
        padding-bottom: 0 !important;
        width: 400px;
        height: 100%;
        position: relative;


        .cart__close{

            margin-bottom: 15px;

            span{
                background: $darkblue;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                // display: block;
                padding: 6px;
                border-radius: 50%;
                color: white;
                cursor: pointer;

                i{
                    // margin: 0;
                    // color: $darkblue;
                    font-size: 1.1rem;
                }
            }
        }

        .cart__item-list{
            height: calc(100vh - 150px);
            overflow-y: scroll;
        }

        .cart__bottom{
            padding: 0px 20px;
            height: 80px;
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            background: $lightred;

            h6{
                font-size: 1rem;
                color: #fff;

                span{
                    font-weight: 600;
                    font-size: 1.3rem;
                }

            }

            button{
                border: none;
                padding: 4px 20px;
                border-radius: 5px;
                color: $darkblue;

                a{
                    color: inherit;
                    font-weight: 600;
                }
            }
        }
    }
}

